:root { 
--black_900_7f:#0000007f; 
--green_A700_66:#000250; 
--gray_500_f4:#a7a7a7f4; 
--gray_50:#f9f9f9; 
--teal_900_4c:#0025544c; 
--green_A700:#000250; 
--black_900:#000000; 
--blue_gray_100_b2:#d3d8dfb2; 
--yellow_700:#ffb829; 
--gray_500_01:#949494; 
--black_900_07:#00000007; 
--blue_gray_900_01:#212b36; 
--blue_gray_900:#333333; 
--red_A700:#000250; 
--black_900_26:#00000026; 
--gray_600:#686d73; 
--black_900_4c:#0000004c; 
--gray_500:#a8a8a8; 
--gray_600_01:#757575; 
--blue_gray_100:#d3d8df; 
--blue_800:#0052bd; 
--blue_gray_300:#9ba7b6; 
--green_A700_54:#000250; 
--gray_800:#4e4e4e; 
--gray_900:#111111; 
--gray_300:#e5e5e5; 
--gray_100:#f1f4f7; 
--white_A700:#ffffff; 
}